.PlayBackRatePanel {
  color: #cfcfcf;
  font-size: 14px;
  z-index: 999999;
  position: absolute;
  right: 2px;
  top: 2px;
  display: inline;
  height: 24px;
}

.PlayBackRatePanelFullScreen {
  color: #cfcfcf;
  font-size: 14px;
  z-index: 999999;
  position: absolute;
  right: 60px;
  top: 2px;
  display: inline;
  height: 24px;
}

.ytdMiniplayerComponentHost .PlayBackRatePanel {
  right: 35px;
  top: 8px;
}

.ysc-btn {
  background: rgba(255, 255, 255, 0.5);
  height: 100%;
  text-decoration: none;
  font-size: 12px;
  border: 0px;
}

.ysc-btn::-moz-focus-inner {
  border: 0;
}

.ysc-btn-left {
  -moz-border-radius-topleft: 5px;
  -webkit-border-top-left-radius: 5px;
  border-top-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.ysc-btn-right {
  -moz-border-radius-topright: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.ysc-btn:hover {
  background: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}

.ysc-btn:focus {
  outline: 0;
}

#SpeedDown {
  float: right;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
}

#SpeedUp {
  float: right;
  background: rgba(255, 255, 255, 0.5);
  padding: 0 10px;
}

#PlayBackRate {
  float: right;
  color: #ffffff;
  vertical-align: middle;
  text-align: center;
  width: 40px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  line-height: 20px;
  border-bottom: thin solid rgba(255, 255, 255, 0.5);
  border-top: thin solid rgba(255, 255, 255, 0.5);
  padding: 0px;
}
